<!DOCTYPE html>
<html lang="zh-tw">
<head >
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>登入系統</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/main-DRgq0g6l.css}">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
<th:block th:replace="~{fragments :: script}"></th:block>
</head>
<body
	class="d-flex align-items-center pt-4 bg-body-tertiary flex-column justify-content-between">
	<div></div>
	<main class="form-signin w-100 m-auto">
		<h1 class="h3 mb-3 fw-normal">登入系統</h1>
		<form action="#" th:action="@{/admin/account}" th:object="${req}"
			method="post" onsubmit="return validateForm()">
			<div class="form-floating">
				<input type="text" class="form-control" id="username"
					name="username" placeholder="name@example.com" /> <label
					for="username">帳號</label> <span id="usernameError" class="error"></span>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="password"
					name="password" placeholder="Password" /> <label for="password">密碼</label>
				<span id="passwordError" class="error"></span>
			</div>

			<div class="form-check text-start my-3">
				<input class="form-check-input" type="checkbox" value="remember-me"
					id="flexCheckDefault" name="remember" /> <label
					class="form-check-label" for="flexCheckDefault">記住密碼</label>
			</div>
			<button class="btn btn-primary w-100 py-2 mb-2" type="submit"
				id="submit">登入</button>
			<div class="d-flex">
				<a class="btn btn-outline-primary w-50 me-2 py-2" type="button"
					href="/page/forgetPassword">忘記密碼</a> <a
					class="btn btn-outline-primary w-50 ms-2 py-2" type="button"
					th:href="@{/admin/register}">註冊帳號</a>
			</div>
		</form>
		<div th:if="${message}" class="error">
			<span th:text="${message}"></span>
		</div>
	</main>
	<footer
		class="w-100 d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark text-light">
		<div class="col-12 d-flex justify-content-center align-items-center">
			<span class="mb-0 text-light">&copy; 2024 XXXX Company, Inc</span>
		</div>
	</footer>

	<!-- 彈窗區塊 id 對應 data-bs-target -->
	<div class="modal" id="myModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">錯誤訊息</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" onclick="closeModal()"></button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-danger">
						<span th:text="${message}"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" onclick="closeModal()">Close</button>
					<button type="button" class="btn btn-primary"
						data-bs-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 彈窗區塊 -->

	<script type="text/javascript">
		function validateForm() {
			var username = document.getElementById("username").value;
			var password = document.getElementById("password").value;
			var isValid = true;

			// 检查用户名
			if (username.trim() === "") {
				document.getElementById("usernameError").textContent = "帳號不能為空";
				isValid = false;
			} else {
				document.getElementById("usernameError").textContent = "";
			}

			// 检查密码
			if (password.trim() === "") {
				document.getElementById("passwordError").textContent = "密碼不能空";
				isValid = false;
			} else {
				document.getElementById("passwordError").textContent = "";
			}

			return isValid;
		}
	</script>

	<script type="text/javascript">
	$(document).ready(function() {
		 const  myModal = new bootstrap.Modal(document.getElementById("myModal"));
		    // 啟動彈窗
		    // myModal.show();
		    // 關閉彈窗
		    myModal.hide();
	});
	</script>
</body>
</html>
