<!DOCTYPE html>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>登入系統</title>
<style>
html, body {
	height: 100%;
}

.form-signin {
	max-width: 330px;
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
</style>
<script   th:src="@{/js/main-CGZVxo7S.js}"></script>
<link rel="stylesheet" type="text/css"  href="/css/main-DRgq0g6l.css">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
	integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body
	class="d-flex align-items-center pt-4 bg-body-tertiary flex-column justify-content-between">
	<div></div>
	<main class="form-signin w-100 m-auto">
		<h1 class="h3 mb-3 fw-normal">登入系統</h1>
		<form action="#" th:action="@{/admin/login}" th:object="${req}" method="post">
			<div class="form-floating">
				<input type="text" class="form-control" id="username" name="username"
					placeholder="name@example.com" /> <label for="username">帳號</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="password" name="password"
					placeholder="Password" /> <label for="password">密碼</label>
			</div>

			<div class="form-check text-start my-3">
				<input class="form-check-input" type="checkbox" value="remember-me"
					id="flexCheckDefault" name="remember" /> <label class="form-check-label"
					for="flexCheckDefault">記住密碼</label>
			</div>
			<button class="btn btn-primary w-100 py-2 mb-2" type="submit"
				id="submit">登入</button>
			<div class="d-flex">
				<a class="btn btn-outline-primary w-50 me-2 py-2" type="button"
					href="/page/forgetPassword">忘記密碼</a> <a
					class="btn btn-outline-primary w-50 ms-2 py-2" type="button"
					href="/page/register">註冊帳號</a>
			</div>
		</form>
	</main>
	<footer
		class="w-100 d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark text-light">
		<div class="col-12 d-flex justify-content-center align-items-center">
			<span class="mb-0 text-light">&copy; 2024 XXXX Company, Inc</span>
		</div>
	</footer>
	<script type="text/javascript">
    	
    </script>
</body>
</html>
