<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>註冊帳號</title>
    <style>
      html,
      body {
        height: 100%;
      }

      .form-register {
        max-width: 330px;
        padding: 1rem;
      }

      @media screen and (min-width: 576px) {
        .form-register {
          max-width: 500px;
        }
      }
    </style>
    <script type="module" crossorigin src="/assets/main-CGZVxo7S.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/main-DRgq0g6l.css">
  </head>
  <body class="d-flex align-items-center bg-body-tertiary flex-column justify-content-between">
    <div></div>
    <main class="form-register w-100 m-auto">
      <form>
        <h1 class="h3 mb-3 fw-normal">註冊帳號</h1>
        <div class="border p-3 mb-3 rounded fw-semibold">
          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="example@gmail.com" />
            <div id="emailHelp" class="form-text fw-normal">請使用常用的電子郵件地址註冊，此地址將用於忘記密碼等安全驗證。</div>
          </div>
          <div class="mb-2">
            <label for="username" class="form-label">名稱</label>
            <input type="text" class="form-control" id="username" />
          </div>
          <div class="mb-2">
            <label for="title" class="form-label">職稱</label>
            <input type="text" class="form-control" id="title" />
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">密碼</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="mb-2">
            <label for="passwordCheck" class="form-label">確認密碼</label>
            <input type="password" class="form-control" id="passwordCheck" />
          </div>
        </div>

        <button class="btn btn-primary w-100 py-2 mb-2" type="submit">註冊</button>
      </form>
    </main>
    <footer class="w-100 d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark text-light">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <span class="mb-0 text-light">&copy; 2024 XXXX Company, Inc</span>
      </div>
    </footer>
  </body>
</html>
