<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>惠宇堂-出貨表單</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main-DRgq0g6l.css}">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
<link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
<th:block th:replace="~{fragments :: script}"></th:block>
</head>
<body>
	<nav th:replace="~{fragments :: menu(7)}"></nav>

	<main class="form-register w-100 m-auto">
		<form id="submitForm mb-10">
			<h1 class="h3 mb-3 fw-normal">進貨清單</h1>
			<div class="border p-3 mb-3 rounded fw-semibold">
				<div class="mb-2">
					<label for="email" class="form-label">廠商名稱</label> <input
						type="text" class="form-control" id="caller" /> <span
						id="callerError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">產品名稱</label> <input
						type="text" class="form-control" id="productName" />
					<div id="productResults"></div>
					<span id="productNameError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">產品圖片</label>
					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file" class="custom-file-input"
								id="inputGroupFile01"> <label class="custom-file-label"
								for="inputGroupFile01">Choose file</label>
						</div>
					</div>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">規格</label> <input type="text"
						class="form-control" id="specifiCation" /> <span
						id="specifiCationError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">進貨數量</label> <input
						type="text" class="form-control" id="count" /> <span
						id="countError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">進貨原因</label>
					<div class="input-group">
						<select class="custom-select" id="inputGroupSelect04">
							<option selected>請選擇</option>
							<option value="退貨">退貨</option>
							<option value="進貨">進貨</option>
							<option value="期初">期初</option>
							<option value="盤盈">盤盈</option>
						</select>
					</div>
				</div>
			</div>

			<button class="btn btn-primary w-100 py-2 mb-2" type="submit"
				id="submit">確定</button>
		</form>

	</main>
	<footer th:replace="~{fragments :: footer}"> </footer>
</body>
</html>
