<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>惠宇堂-出貨表單</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main-DRgq0g6l.css}">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
<link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
<th:block th:replace="~{fragments :: script}"></th:block>
</head>
<body>
	<nav th:replace="~{fragments :: menu(7)}"></nav>

	<main class="form-register w-100 m-auto">
		<form id="submitForm">
			<h1 class="h3 mb-3 fw-normal">出貨清單</h1>
			<div class="border p-3 mb-3 rounded fw-semibold">
				<div class="mb-2">
					<label for="email" class="form-label">廠商</label> <input type="text"
						class="form-control" id="manufacturerName" /> 
						<span id="manufacturerNameResult"></span>
						<span id="manufacturerNameError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">產品名稱</label> 
					<input
						type="text" class="form-control" id="productName" />
					<h6>目前庫存:</h6>
					<span id="productResults"></span>
					<span id="productNameError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">出貨數量</label> <input
						type="text" class="form-control" id="count" /> <span
						id="countError" class="error"></span>
				</div>
				<div class="mb-2">
					<label for="title" class="form-label">出貨原因</label>
					<div class="input-group">
						<select class="custom-select" id="shipReason">
							<option selected>請選擇</option>
							<option value="員購">員購</option>
							<option value="出貨" selected>出貨</option>
							<option value="盤損">盤損</option>
							<option value="樣本">樣本</option>
							<option value="盤差">盤差</option>
							<option value="贈品">贈品</option>
							<option value="直播">直播</option>
						</select>
					</div>
				</div>
			</div>

			<button class="btn btn-primary w-100 py-2 mb-2" type="submit">確定</button>
		</form>

	</main>
	<footer th:replace="~{fragments :: footer}"> </footer>
	
	
	<!-- 彈窗區塊 id 對應 data-bs-target -->
	<div class="modal" id="myModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">新增叫貨紀錄</h5>
					<button type="button" id="closeModal" class="btn-close" 
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span id="message"></span>
				</div>
				<div class="modal-footer">
					<button type="button" id="btnCloseModal" class="btn btn-secondary">
						返回
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 彈窗區塊 -->
	
	
	<script type="text/javascript">
	
	$(document).ready(function() {
		
		document.getElementById('productResults').textContent='';
				// 使用 jQuery 的事件绑定方法 .on
			$("#productName").on('input',function() {
					var productName = $("#productName").val();
						// 防止空查询
					if (productName.length === 0) {
						$('#productResults').empty();
						return;
					}
			$.ajax({
				url : '/admin/shipdata/findProduct', // 替换为实际的搜索 API URL
				type : 'GET',
				data : {
				productName : productName
			},
			success : function(res) {
				$('#productResults').empty(); // 清空之前的结果
				if (res.length === 0) {
					$('#productResults').append(
					'<p>找不到此產品 請重新輸入</p>');
				} else {
					var count =res;
					document.getElementById('productResults').textContent=count;
				}
			},
			error : function(xhr, status, error) {
						$('#productResults').empty();
						$('#productResults').append('<p>系統錯誤</p>');
					}
			});
		});
				
		
				
		//從廠商帶入 產品列表
					/* $("#manufacturerName").on('input',function() {
						debugger;
						var manufacturerName = $("#manufacturerName").val();
								// 防止空查询
						if (manufacturerName.length === 0) {
							$('#manufacturerNameResult').empty();
							return;
						}
					$.ajax({
						url : '/admin/shipdata/findProductByManufacturerName', // 替换为实际的搜索 API URL
						type : 'GET',
						data : {
							manufacturerName : manufacturerName
					},
					success : function(res) {
						$('#manufacturerNameResult').empty(); // 清空之前的结果
						if (res.length === 0) {
							$('#manufacturerNameResult').append(
							'<p>找不到廠商</p>');
						} else {
							 var count =res.count;
							document.getElementById('productResults').textContent=count; 
						}
					},
					error : function(xhr, status, error) {
								console.error('系統錯誤', error);
								$('#manufacturerNameResult').empty();
								$('#manufacturerNameResult').append('<p>系統錯誤</p>');
							}
					});
				}); */
				
	});
	
	  const myModal = new bootstrap.Modal(document.getElementById("myModal"), { backdrop: "static" });
	
	$("#submitForm").on('submit', function(event) {
		event.preventDefault(); // 阻止表單的默認提交行為
		var selectElement = document.getElementById('shipReason');
		const selectedValue = selectElement.value;
		 // 執行表單欄位檢查
		 if (!validateForm()) {
		 	return; // 如果表單欄位檢查不通過，則停止執行後續代碼
		 }
		 
		 	const manufacturerName =document.getElementById('manufacturerName').value;
		    const productName = document.getElementById('productName').value;
		    const count = document.getElementById('count').value;
		    const shipReason = document.getElementById('shipReason').value; 

		    const formData = new FormData();
		    formData.append('manufacturer', manufacturerName);
		    formData.append('productName', productName);
		    formData.append('count', count);
		    formData.append('shipReason', shipReason);

		    axios.post('/admin/shipdata/saveShip', formData)
		        .then(response => {
		            const myModal = new bootstrap.Modal(document.getElementById("myModal"));
		            document.getElementById('manufacturerName').value = '';
		            document.getElementById('productName').value = '';
		            document.getElementById('count').value = '';
		            document.getElementById('productResults').textContent='';
		            document.getElementById('message').textContent = '新增成功';
		            myModal.show();
		        })
		        .catch(error => {
		            const myModal = new bootstrap.Modal(document.getElementById("myModal"));
		            document.getElementById('manufacturerName').value = '';
		            document.getElementById('productName').value = '';
		            document.getElementById('count').value = '';
		            document.getElementById('productResults').textContent='';
		            document.getElementById('message').textContent = error;
		            myModal.show();
		        });
	});
	
	$("#closeModal").click(function () {
        closeModal();
      });

      $("#btnCloseModal").click(function () {
        closeModal();
      });

      function closeModal() {
        myModal.hide();
      }
	
	
	function validateForm() {
		var manufacturerName = $("#manufacturerName").val();
		var productName = $("#productName").val();
		var count = $("#count").val();

		var isValid = true;
		// 檢查是否包含中文字符
		var chineseRegex = /[\u4e00-\u9fa5]/;

		const iscount = /^\d+$/.test(count);

		if (manufacturerName.trim() === "") {
			document.getElementById("manufacturerNameError").textContent = "廠商不能為空";
			isValid = false;
		} else {
			document.getElementById("manufacturerNameError").textContent = "";
		}

		if (productName.trim() === "") {
			document.getElementById("productNameError").textContent = "產品名稱不能為空";
			isValid = false;
		} else {

			document.getElementById("productNameError").textContent = "";

		}

		if (count.trim() === "") {
			document.getElementById("countError").textContent = "數量不能為空";
			isValid = false;
		} else {
			if (!iscount) {
				document.getElementById("countError").textContent = "數量只能輸入數字";
				isValid = false;
			} else {
				document.getElementById("countError").textContent = "";
			}

		}

		return isValid;
	}
	
	</script>
</body>


</html>
