<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>惠宇堂-出貨清單</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css" />

<style>
html, body {
	height: 100%;
}

th, label {
	text-wrap: nowrap;
}

.no_result {
	padding: 0.5rem;
	text-align: center;
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}

.autoComplete_wrapper>input {
	width: 200px;
}
</style>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main-DRgq0g6l.css}">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
<link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
<th:block th:replace="~{fragments :: script}"></th:block>
</head>
<body>

	<nav th:replace="~{fragments :: menu(6)}"></nav>

	<div class="px-4 d-flex justify-content-center">
		<table class="table table-image table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">購物台</th>
					<th scope="col">商品名稱</th>
					<th scope="col">叫貨量</th>
					<th scope="col">訂貨日</th>
					<th scope="col">到貨日</th>
					<th scope="col">到貨量</th>
					<th scope="col">待補量</th>
					<th scope="col">補貨日1</th>
					<th scope="col">捕獲量</th>
					<th scope="col">補貨日2</th>
					<th scope="col">捕獲量</th>
					<th scope="col">總差異量</th>
				</tr>
			</thead>
			<tbody id="vendorList">
				<tr class="vendorItem">
					<th scope="row" class="itemId"></th>
					<td class="shoppingChannel"></td>
					<td class="productName"></td>
					<td class="orderQuantity"></td>
					<td class="orderDate"></td>
					<td class="arrivalDate"></td>
					<td class="receivedQuantity"></td>
					<td class="pendingQuantity"></td>
					<td class="firstRestockDate"></td>
					<td class="firstCaptureQuantity"></td>
					<td class="secondRestockDate"></td>
					<td class="secondCaptureQuantity"></td>
					<td class="totalDifference"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav class="px-4 pb-5">
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
			</a></li>
			<li class="page-item"><a class="page-link active" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>

	<footer th:replace="~{fragments :: footer}"> </footer>

</body>
</html>
