<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>惠宇堂-出貨清單</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css" />

<style>
html, body {
	height: 100%;
}

th, label {
	text-wrap: nowrap;
}

.no_result {
	padding: 0.5rem;
	text-align: center;
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}

.autoComplete_wrapper>input {
	width: 200px;
}
</style>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main-DRgq0g6l.css}">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
<link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
<th:block th:replace="~{fragments :: script}"></th:block>
</head>
<body>

	<nav th:replace="~{fragments :: menu(6)}"></nav>

	<div class="px-4 d-flex justify-content-center">
		<table class="table table-image table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">廠商</th>
					<th scope="col">商品名稱</th>
					<th scope="col">出貨量</th>
					<th scope="col">剩餘數量</th>
					<th scope="col">出貨日期</th>
					<th scope="col">出貨原因</th>
				</tr>
			</thead>
			<tbody id="shipList">
				<tr th:each="shipdto : ${shipdtoPage.content}" class="vendorItem">
					<th scope="row" class="itemId" th:text="${shipdto.id}"></th>
					<td class="manufacturerName" th:text="${shipdto.manufacturerName}"></td>
					<td class="productName" th:text="${shipdto.productName}"></td>
					<td class=count th:text="${shipdto.count}"></td>
					<td class=amount th:text="${shipdto.amount}"></td>
					<td class="shipDate" th:text="${shipdto.shippingDate}"></td>
					<td class="shipReason" th:text="${shipdto.shipReason}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav class="px-4 pb-5">
		<ul class="pagination justify-content-center">

			<li class="page-item" th:if="${shipdtoPage.hasPrevious()}"><a
				class="page-link" aria-label="Previous"
				th:href="@{/admin/ship/shipformList(page=${shipdtoPage.number - 1}, size=${shipdtoPage.size})}">
					<span aria-hidden="true">&laquo;</span>
			</a></li>

			<!-- Page Number Links -->
			<li class="page-item"
				th:each="i : ${#numbers.sequence(1, shipdtoPage.totalPages)}"
				th:classappend="${shipdtoPage.number + 1 == i} ? 'active'"><a
				class="page-link"
				th:href="@{/admin/ship/shipformList(page=${i - 1}, size=${shipdtoPage.size})}"
				th:text="${i}">1</a></li>

			<!-- Next Page Link -->
			<li class="page-item" th:if="${shipdtoPage.hasNext()}"><a
				class="page-link" aria-label="Next"
				th:href="@{/admin/ship/shipformList(page=${shipdtoPage.number + 1}, size=${shipdtoPage.size})}">
					<span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>

	<footer th:replace="~{fragments :: footer}"> </footer>

</body>
</html>
