<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500</title>
 <link rel="stylesheet" type="text/css"
	th:href="@{/css/main-DRgq0g6l.css}">
	 <link rel="stylesheet" type="text/css"
	th:href="@{/css/all.css}">
<th:block th:replace="~{fragments :: script}"></th:block>
</head>
	<body>
	<nav th:replace="~{fragments :: menu(1)}"></nav>

		  
		 <br> 
		  <br>
		  <br>
		 <div class="m-container-small m-padded-tb-massive ">
		 	<div class="ui error message m-padded-tb-huge ">
		 		<div class="ui container ">
		 			<h2>500</h2>
		 			<p>伺服器異常</p>
		 		</div>
		 	</div>
		 </div>
		  <br> 
		  <br>

		  <br>
		 <footer  th:replace="~{fragments::footer}" ></footer>
  	</body>
 </html>